In [1]:
print ("Conhecendo o comando print")

x = 8
print(x)

Conhecendo o comando print
8

In [3]:
y = 10
soma = x + y
print(soma)

18

In [4]:
nome = "Matheus Machado"
print(nome)

Matheus Machado

Concatenação

In [5]:
x = 5
print("O valor de x é: ", x)

O valor de x é:  5

In [6]:
print("O valor de x é", x, "e o dobro é", x * 2)

O valor de x é 5 e o dobro é 10

In [7]:
print("Eu,", nome, "tirei", x, "na prova de Python")

Eu, Matheus Machado tirei 5 na prova de Python

In [11]:
y = 10; z = 20 + x - y

print("Declarar várias variáveis na mesma linha:", y, z)

Declarar várias variáveis na mesma linha: 10 15

Type

In [15]:
x = 10
type(x)
print('x', type(x))

nome = "Matheus"
print('nome', type(nome))

num = '100'
num_convert = int(num)   # Converter variável
print('num', type(num))
print('num_convert', type(num_convert))

num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

Input

  . Armazenar a informação digitada pelo usuário em um variável
  
  . O dado armazenado sempre será um texto

In [20]:
nome = input("Digite seu nome do usuário: ") # Aguarda o usuário digitar algo
print(nome)

valor = input("Digite a nota: ")
print(nome, "sua nota foi", valor)

Digite seu nome do usuário: 7
7
Digite a nota: 7
7 sua nota foi 7

In [30]:
valor = input('Digite o valor do produto: ')
print(valor)

Digite o valor do produto: 100
100

In [32]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

95